<!DOCTYPE html>
<html>

<head>
    <title> Connect 4 </title>
    <link href="/css/home.css" rel="stylesheet" type="text/css" />
</head>

<body onbeforeunload="return ">
    <div>
        <h1> Connect 4 </h1>
    </div>


     <!-- should probably do center with css but I don't want to break it -->
    <center>
    <button class='submit_button shadow' id="newGameButton">New Game</button>
    <a href="/newgame"><button class='submit_button shadow'>Test New Game</button></a>

    <button class='submit_button shadow' id='AI_NewGame'>New Game Against AI</button>

    <a href="/RouteGoesHere"><button class='submit_button shadow'>Save Game</button></a>

    <a href="/AndAgain"><button class='submit_button shadow'>Load Game</button></a>

   
    <div id="board"></div>
	</center>

    {{#unless loggedIn}}   
    {{> loginForm }}
    {{/unless}}     


    {{#if loggedIn}}
    <a href="/logout"><button class='submit_button shadow'>Log Out</button></a>
    {{/if}}



    

</div>



    
    <script src="/js/home.js"></script>
</body>

</html>