<!DOCTYPE html>
<html>

<head>
    <title> Connect 4 </title>
    <link href="/css/home.css" rel="stylesheet" type="text/css" />
</head>

<body onbeforeunload="return">
    <div>
        <h1> Connect 4 </h1>
    </div>
    <center>
        <button class='submit_button shadow' id='AI_NewGame'>Single Player</button>
        <button class='submit_button shadow' id="newGameButton">Two Player</button>
        <button id="saveGameButton" class='submit_button shadow'>Save Game</button>
        <button id="loadGameButton" class='submit_button shadow'>Load Game</button>
        <div id="winner_notif"></div>
        <div id="info"></div>
        <div id="board"></div>
    </center>
    {{#unless loggedIn}}
    {{> loginForm }}
    {{/unless}}
    {{#if loggedIn}}
    {{> user_stats }}
    <center>
        <a href="/logout"><button class='submit_button shadow'>Log Out</button></a>
    </center>
    {{/if}}
    <script src="/js/home.js" type="module"></script>
</body>

</html>