<!DOCTYPE html>
<html>

<head>
    <title> Connect 4 Registration </title>
    <link href="/css/home.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div>
        <h1> Connect 4 Registration </h1>
    </div>

    <div id='loginOuterDiv'>
  <div id='loginFormDiv' class="shadow">
    <form action="/registrationAttempt" method="post">

      <label for="login">Login: </label>
        </br>

      <input id="login" class="input_box" type="text" name="login">
        </br>

      <label for="password">Password: </label>
        </br>

      <input id="password" class="input_box" type="password" name="password">
        </br>
        
      <label for="password_conf">Confirm Password: </label>
        </br>

      <input id="password_conf" class="input_box" type="password" name="password_conf">
        </br>

      <label for="email">Email: </label>
        </br>

      <input id="email" class="input_box" type="text" name="email">

        </br>
      <input id="login-submit" class="submit_button" type="submit" value="Register">


    </form>
  </div>
</div>
</div>



    
    <script src="/js/home.js"></script>
</body>

</html>