body {
    background-color: white;
    background-image:
        radial-gradient(pink 20%, transparent 0),
        radial-gradient(lavender 20%, transparent 0);
    background-size: 100px 100px;
    background-position: 0 0, 50px 50px;
}

.columns {
    width: 60px;
    height: 345px;
    background-color: blue;
    display: inline-block;
    margin: -2px;
}

.slots {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    margin: 5px;
    top: 5px;
}

.shadow {
    border: 1px solid rgb(0,0,0,0.4);
}

h1 {
    text-align: center;
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
}

.submit_button {
    background-color: #e7e7e7;
    color: black;
    border-radius: 12px;
    margin: 15px;
    padding: 16px;
    font-weight: bold;
}

#users {
    text-align: center;
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
}

#loginOuterDiv {
    text-align: center;
    display: block;
    position: relative;
}

#winner_notif {
    background-image: url("./cong.png");
    background-size: 30% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100px;
    opacity: 0.8;
    font-size: 72px;
    font-family: cursive;
    font-style: italic;
    color: black;
}

#info {
    postion: relative;
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
    font-weight: bold;
}

label {
    font-weight: bold;
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
}